.success {
  display: flex;
  flex-direction: column;
  background: rgb(188, 149, 224);
  color: white;
  padding: 1rem 0.5rem;
  width: 100%;
  border-radius: 20px;
}

.contactForm {
  padding: 10px;
  width: 90%;
  margin: 30px auto;
  border-radius: 10px;
}

.contactForm input {
  height: 75px;
  padding-left: 5px;
  font-size: 18px;
  width: 50%;
  margin: auto;
}

.contactForm textarea {
  height: 100px;
  font-size: 18px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.contactForm button {
  width: 100%;
  border: 2px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: lightgray;
}

.contactForm button:hover {
  background-color: rgb(188, 149, 224);
  transition: background 0.2s ease-in-out;
}

@media (max-width: 600px) {
  .contactForm {
    padding: 10px;
    width: 90%;
    max-width: 400px;
    margin: 30px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .contactForm input {
    height: 50px;
    padding-left: 5px;
    font-size: 18px;
    width: 257px;
  }

  .contactForm textarea {
    height: 100px;
    max-width: 257px;
    min-width: 257px;
    font-size: 18px;
    margin: auto;
  }
}