.container {
  padding: 0 2rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.portrait {
  border-radius: 50%;
  /** using !important here because `next/image` sucks */
  border: 10px solid rgb(188, 149, 224) !important;
}
